@charset "utf-8";

/* Media Queries */

@media screen and (max-width: 900px) {
    body,
    td,
    th,
    p,
    #breadcrumb {
        font-size: .75rem;
    }

    #restaurant-name {
        font-size: 1.2rem;
    }

    #reviews-container h2 {
        font-size: 1.2rem;
    }
}
