@charset "utf-8";

/* Media Queries */

@media screen and (max-width: 400px) {
    nav h1 a {
        font-size: 1.2rem;
        letter-spacing: 2px;
    }

}

@media screen and (max-width: 600px) {

    nav h1 a {
        font-size: 1.5rem;
        letter-spacing: 2px;
    }

    .filter-options h2 {
            display: none;
    }

    #restaurant-container h2 {
        font-size: 1rem;
        letter-spacing: 2px;
    }

}

@media screen and (min-width: 700px) {


}
