@charset "utf-8";

/* Media Queries */
@media screen and (max-width: 500px) {
    main,
    header,
    nav {
        display: inline-block;
        margin: 0; 
    }


    #map {
        width: 100%;
        height: 350px;
    }

    #map-container {
        width: 100%;
        margin: 0;
    }

    #maincontent {
        /* min-width: 100%; */
        margin: auto 0;
        /* padding: auto 0; */
        overflow-y: visible;
    }

    h1 {
        font-size: 1.5rem;
        letter-spacing: normal;
    }

    h2 {
        font-size: 1rem;
        letter-spacing: normal;
    }

}

@media screen and (min-width: 700px) {
    .filter-options {
        justify-content: center;
    }

}
